---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./externalsecret.yaml
  - ../../../../templates/volsync
configMapGenerator:
  - name: aria2-configmap
    files: [config/aria2.conf, config/informarr.sh]
  - name: aria2-informarr
    files: [config/informarr.sh]
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
