---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: echo-server
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: 'true'

        containers:
          main:
            image:
              repository: ghcr.io/mendhak/http-https-echo
              tag: 31
            env:
              HTTP_PORT: &port 8080
              LOG_WITHOUT_NEWLINE: 'true'
              LOG_IGNORE_PATH: '/healthz'
            resources:
              requests:
                cpu: 5m
                memory: 30M
              limits:
                memory: 30M

    service:
      main:
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        className: 'external-nginx'
        annotations:
          external-dns.alpha.kubernetes.io/target: ingress-ext.${DOMAIN}
        hosts:
          - host: &host 'echo-server.${DOMAIN}'
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
